


.wrapper {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 5px;

    grid-template-areas:
        'header header header'
        'instructions playerOnePlay playerTwoPlay'
        'instructions results results'
        'instructions scoreOne scoreTwo';
    justify-content: space-evenly;

    align-content: center;
}

.header {
    grid-area: header;
    background-color: lightslategray;
    text-align: center;
    padding: 10px;
}

.instructions {
    grid-area: instructions;
    background-color: gray;
    text-align: left;
    padding: 10px;
}

.instructions button {
    width: 100%;
}


.results {
    grid-area: results;
    background-color: darkgray;
    text-align: center;
    align-items: center;    
}

.scoreOne {
    grid-area: scoreOne;
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}


.scoreTwo {
    grid-area: scoreTwo;
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}


.playerOnePlay {
    grid-area: playerOnePlay;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.playerTwoPlay {
    grid-area: playerTwoPlay;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}