.wrapper {
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: 'instructions p myArea myArea myArea';
}


.wrapper {
    display: grid;

    grid-gap: 5px;

    grid-template-areas:
        'header header header'
        'instructions playerOneSelect playerTwoSelect '
        'instructions playerOneScore playerTwoScore'
        'instructions playerOnePlay playerTwoPlay'
        'Instructions footer footer';

    justify-content: space-evenly;

    align-content: center;
}

.header {
    grid-area: header;
    background-color:lightslategray; 
    text-align: center;
    padding:10px;
}

.instructions {
    grid-area: instructions;
    background-color:  darkgray;
    
    text-align: left;
    padding:10px;
}

.instructions button {
    width:100%;
}

.playerOneSelect {
    grid-area: playerOneSelect;
    background-color:  lightgray;
    text-align: center;
    padding:10px;
}

.playerTwoSelect {
    grid-area: playerTwoSelect;
    background-color:  lightgray;
    text-align: center;
    padding:10px;
}

.playerOneScore {
    grid-area: playerOneScore;
    background-color:  lightgray;
    text-align: center;
}

.playerTwoScore {
    grid-area: playerTwoScore;
    background-color:  lightgray;
    text-align: center;
}

.playerOnePlay {
    grid-area: playerOnePlay;
    background-color:  slategray;
    text-align: center;
}

.playerTwoPlay {
    grid-area: playerTwoPlay;
    background-color:  slategray;
    text-align: center;
}